<link rel="stylesheet" href="~/css/Footer.css" />
    <footer class="text-center text-white footer-all">
        <div class="container">
            <section class="mt-1 footer">
                <div class="row text-center d-flex justify-content-center pt-5 ">
                    <div class="col-md-2">
                        <h6 class="text-uppercase font-weight-bold">
                        <a href="~/Index" class="text-footer">Ínicio</a>
                        </h6>
                    
                    </div>
                    <div class="col-md-2">
                        <h6 class="text-uppercase font-weight-bold">
                        <a href="~/Index" class="text-footer">Projetos</a>
                        </h6>
                    
                    </div>
                    <div class="col-md-2">
                        <h6 class="text-uppercase font-weight-bold">
                        <a href="~/SobreMim" class="text-footer">Sobre Mim</a>
                        </h6>
                    
                    </div>
                    <div class="col-md-2 footer-option">
                        <h6 class="text-uppercase font-weight-bold">
                        <a href="~/Contato" class="text-footer">Contato</a>
                        </h6>
                    
                    </div>
                </div>
            </section>

        </div>
        <div class="text-center p-3 footer-bot"
         >
            ©2024 Copyright: Lucas Apalosqui
        </div>
    </footer>